<nav class="navbar navbar-light bg-primary">    
    <a href="/" class="navbar-brand">
        <img src="/img/guia.png" alt="guia do programador">
    </a>
    <a href="/ask" class="navbar-brand" id="navbar-ask">
        Perguntar
    </a>
</nav>